* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-image: url("cover_camera.jpg");
    background-size: cover;
    color: white;
}

header {
    background: #1c1b1b;
    color: #fff;
    padding: 10px 0;
}

header .logo {
    display: inline-block;
    font-size: 24px;
    font-weight: bold;
    padding-left: 20px;
}

header nav {
    float: right;
    padding-right: 20px;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline;
    margin: 0 10px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 3px;
    transition: background 0.3s;
}

header nav ul li a:hover{
    background: #444;
}

.about {
    padding: 40px 20px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.about h1, .about h2 {
    margin-bottom: 20px;
}

.about p {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 1.6;
}

.team {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.team-member {
    margin: 20px;
    text-align: center;
}

.team-member img {
    max-width: 100%;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.team-member h3 {
    margin-top: 10px;
    font-size: 22px;
}

.team-member p {
    font-size: 18px;
    color: #666;
}

footer {
    background: #1c1b1b;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    width: 100%;
}
